<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="show_sql">false</property>
        <property name="hibernate.dialect">
            org.hibernate.spatial.dialect.mysql.MySQLSpatialDialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
        <property name="connection.pool_size">1</property>

        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/life_quality?
            ?useTimezone=true&amp;serverTimezone=Europe/Berlin
        </property>
        <property name="hibernate.connection.username">
            root
        </property>
        <property name="hibernate.connection.password"/>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="org.htwkvisu.domain.ScoreValue"/>
    </session-factory>
</hibernate-configuration>